<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEB_BilgeAdam</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB_BilgeAdam.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="row mt-2 ms-2">
        <div class="col-md-3">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="height:800px">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
                    <span class="fs-4">@User?.Identity?.Name</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    @if (User.IsInRole("student"))
                    {
                        <li class="nav-item">
                            <a asp-controller="Students" asp-action="ShowStudentClassroom" asp-route-userName="@User.Identity.Name" class="nav-link active" aria-current="page">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home" /></svg>
                                Sınıf Bilgileri
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Students" asp-action="StudentExams" asp-route-userName="@User.Identity.Name" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2" /></svg>
                                Notlar
                            </a>
                        </li>
                    }

                    else if (User.IsInRole("teacher"))
                    {
                        <li class="nav-item">
                            <a asp-controller="Teachers" asp-action="ShowClassrooms" asp-route-userName="@User?.Identity?.Name" class="nav-link active" aria-current="page">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home" /></svg>
                                Sınıflar
                            </a>
                        </li>
                    }

                </ul>
                <hr>
                <div class="dropdown">
                    <a asp-controller="Account" asp-action="Edit" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table" /></svg>
                        Bilgileri Düzenle
                    </a>


                    <a class="nav-link text-white btn float-start" data-bs-toggle="modal" data-bs-target="#exampleModal">

                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                        Çıkış Yap
                    </a>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title  text-dark" id="exampleModalLabel">Çıkış Yapma Uyarısı</h5>
                                    <button type="button" class="btn-close  text-dark" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body  text-dark">
                                    Çıkış yapmak istediğinize emin misiniz?
                                </div>
                                <div class="modal-footer  text-dark">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                    <a asp-controller="Account" asp-action="LogOut" type="button" class="btn btn-danger  text-white">Çıkış Yap</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <main role="main" class="pb-3 mt-4  ">
                <partial name="_NotificationPartial" />
                @RenderBody()
            </main>
        </div>
    </div>
    <div class="">
    </div>

    <footer class="border-top footer text-muted position-absolute bottom-0 d-flex align-items-center w-100" style="height:50px">
        <div class="container">
            &copy; 2023 - WEB_BilgeAdam - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
