@{
    ViewData["Title"] = "Home Page";
}
@if (User.IsInRole("admin"))
{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    @if (!User.Identity.IsAuthenticated)
    {
        <h3>Bilge Adam Öğrenci Portalına Hoşgeldiniz. Lütfen giriş yapınız...</h3>
    }
    else
    {
        <h3>Hoşgeldin => @User.Identity.Name</h3>
    }
</div>

