@{
    ViewData["Title"] = "Create Role";
}
@model CreateRoleDTO

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Role Ekle</h3>
            </div>
            <form asp-action="CreateRole">
                <div class="card-body">
                    <div>
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Lütfen rol adı giriniz..." />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer mt-2" style="height:50px">
                    <button type="submit" class="btn btn-outline-success float-end">Kaydet</button>
                    <a class="btn btn-outline-info float-start" asp-action="Index">Geri Dön</a>
                </div>
            </form>
        </div>
    </div>
</div>
